<div>
  <h2 class="mb-2 mt-0 text-4xl font-medium leading-tight text-primary">
    スケジュール一覧
  </h2>

  <% if flash[:success] %>
    <div
      class="mb-3 inline-flex w-full items-center rounded-lg bg-green-100 px-6 py-5 text-base text-green-700"
      role="alert">
      <span class="mr-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
            clip-rule="evenodd" />
        </svg>
      </span>
      <%= flash[:success] %>
    </div>
  <% end %>

  <div class="flex flex-col justify-center">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm font-light border-2 border-white">
            <thead class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600 text-white">
              <tr>
                <th scope="col" class="px-6 py-4">
                  ID
                </th>

                <th scope="col" class="px-6 py-4">
                  タイトル
                </th>

                <th scope="col" class="px-6 py-4">
                  開始日
                </th>

                <th scope="col" class="px-6 py-4">
                  終了日
                </th>

                <th scope="col" class="px-6 py-4">
                  終日
                </th>

                <th scope="col" class="px-6 py-4">
                  更新日時
                </th>

                <th scope="col" class="px-6 py-4">
                  詳細
                </th>

                <th scope="col" class="px-6 py-4">
                  編集
                </th>

                <th scope="col" class="px-6 py-4">
                  削除
                </th>
            </thead>
            <tbody>
              <% if @posts.count > 0 %>
                <% @posts.each_with_index do |post, index| %>
                  <tr class="<%= cycle('border-b bg-white dark:border-neutral-500 dark:bg-neutral-600', 'border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700', name: 'row_class') %>">
                    <td class="whitespace-nowrap px-6 py-4 font-medium text-white">
                      <%= post.id %>
                    </td>

                    <td class="whitespace-nowrap px-6 py-4 text-white">
                      <%= post.title %>
                    </td>

                    <td class="whitespace-nowrap px-6 py-4 text-white">
                      <%= l post.start_at, format: :short %>
                    </td>

                    <td class="whitespace-nowrap px-6 py-4 text-white">
                      <%= l post.end_at, format: :short %>
                    </td>

                    <td class="whitespace-nowrap px-6 py-4 text-white">
                      <% if post.is_all_day %>
                        <strong>◯</strong>
                      <% end %>
                    </td>

                    <td class="whitespace-nowrap px-6 py-4 text-white">
                      <%= l post.updated_at, format: :short %>
                    </td>

                    <td class="whitespace-nowrap px-6 py-4 text-white">
                      <%= link_to "詳細", post_path(post) %>
                    </td>

                    <td class="whitespace-nowrap px-6 py-4 text-white">
                      
                    </td>

                    <td class="whitespace-nowrap px-6 py-4 text-white">
                      
                    </td>
                  </tr>
                <% end %>
              
              <% else %>
              <tr>
                <td colspan="10" class="text-center">
                  現在登録しているスケジュールはありません
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "登録ページ", new_post_path, class: "inline-block rounded bg-neutral-800 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] transition duration-150 ease-in-out hover:bg-neutral-800 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-neutral-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:outline-none focus:ring-0 active:bg-neutral-900 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] dark:bg-neutral-900 dark:shadow-[0_4px_9px_-4px_#030202] dark:hover:bg-neutral-900 dark:hover:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:focus:bg-neutral-900 dark:focus:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)] dark:active:bg-neutral-900 dark:active:shadow-[0_8px_9px_-4px_rgba(3,2,2,0.3),0_4px_18px_0_rgba(3,2,2,0.2)]" %>
</div>

